* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.clock-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clock {
    position: relative;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clock:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    height: 5%;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.hours-container, .minutes-container, .seconds-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.hours, .minutes, .seconds {
    position: absolute;
    background-color: #000;
    border-radius: 10px;
}

.hours {
    width: 2.5%;
    height: 20%;
    top: 30%;
    left: 48.75%;
    transform-origin: 50% 100%;
}

.minutes {
    width: 2%;
    height: 40%;
    top: 10%;
    left: 49%;
    transform-origin: 50% 100%;
}

.seconds {
    width: 1%;
    height: 45%;
    top: 14%;
    left: 49.5%;
    transform-origin: 50% 80%;
    z-index: 8;
}

.digital-clock {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-left: 2em;
}
.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    color: #333;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
